<div class="page-header">
  <h1>Tweets</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Rating</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.user.name %></td>
      <td><%= tweet.text %></td>
      <td><%= tweet.rating %></td>
      <td><%= link_to('Vote', vote_tweet_path(id: tweet.id), method: :post) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @tweets %>
